<!--NavBar-->
<nav class="navbar navbar-expand-lg navbar-light bg-burnt-orange">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><img class="logo_ rounded-circle" src="/Assets/Logo.png" alt="Logo"/> &ensp;GrocerEase</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <% if(title=="Home") { %>
              <a class="nav-link active" href="/home">
            <% } else {%>
              <a class="nav-link" href="/home">
            <% } %>  
            <i class="fa-solid fa-house"></i> Home</a>
          </li>
          <li class="nav-item">
            <% if(title=="About us") { %>
              <a class="nav-link active" href="/aboutus">
            <% } else {%>
              <a class="nav-link" href="/aboutus">  
            <% } %>       
            <i class="fa-solid fa-circle-question"></i> AboutUs</a>
          </li>
          <li class="nav-item">
            <% if(title=="Products") { %>
              <a class="nav-link active" href="/products">
            <% } else {%>
              <a class="nav-link" href="/products">
            <% } %>    
              <i class="fa-solid fa-box-open"></i> Products</a>
          </li>
          <li class="nav-item">
            <% if(title=="Service") { %>
              <a class="nav-link active" href="/service">
            <% } else {%> 
              <a class="nav-link" href="/service">
            <% } %>  
              <i class="fa-solid fa-hand-holding-heart"></i> Service</a>
          </li>
          <li class="nav-item">
            <% if(title=="Grocery List" || title=="Add Grocery Items" || 
              title=="Edit Grocery Items") { %>
              <a class="nav-link active" href="/grocerylist">
            <% } else {%>
              <a class="nav-link" href="/grocerylist">
            <% } %>  
            <i class="fa-solid fa-cart-shopping"></i> Grocery List</a>
          </li>
          <li class="nav-item"></li>
          <% if(title=="Contact Us") { %>
            <a class="nav-link active" href="/contactus">
          <% } else {%>  
            <a class="nav-link" href="/contactus">
          <% } %> 
            <i class="fa-solid fa-phone-volume"></i> ContactUs</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>