<%- include Partials/header.ejs%>
<%- include Partials/main_nav.ejs%>
<main class="container mt-5 d-flex justify-content-center">
    <div class="card shadow p-4" style="width: 400px;">
        <h1 class="text-center mb-4">Login</h1>
        <form method="POST" action="/auth/login">
            <div class="mb-3">
                <label for="email" class="form-label">Email:</label>
                <input type="email" name="email" id="email" class="form-control" required/>
            </div>
    </div>
</main>
<%- include Partials/footer.ejs%>