.bg-mint-green {
    background-color: #A3E3B5 !important;  /* Mint green */
}

.bg-aquamarine {
    background-color: #7FFFD4 !important;  /* Aquamarine */
}

.bg-tiffany-blue {
    background-color: #0ABAB5 !important;  /* Tiffany blue */
}

.bg-gray-blue {
    background-color: #7686d0 !important;  /* Cool gray */
}

.text-columbia-blue {
    color: #C4D8E2 !important;  /* Columbia blue */
}