.bg-mint-green {
    background-color: #A3E3B5 !important;  /* Mint green */
}

.bg-aquamarine {
    background-color: #7FFFD4 !important;  /* Aquamarine */
}

.bg-dark-brown {
    background-color: #5D4037 !important;  /* Tiffany blue */
}

.bg-burnt-orange {
    background-color: #D35400 !important;  /* Cool gray */
}

.bg-off-white{
    background-color: #FCF3CF !important;  /* Cool gray */
}

.text-columbia-blue {
    color: #C4D8E2 !important;  /* Columbia blue */
}

::placeholder {
    font-style: italic;
}

body {
    
}
